<link href="${ctxPath}/resources/admin/common/css/iss.core.css" rel="stylesheet" type="text/css" />
<link href="${ctxPath}/resources/common/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="${ctxPath}/resources/admin/jquery/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="${ctxPath}/resources/admin/common/js/iss.core.js"></script>
<script type="text/javascript" src="${ctxPath}/resources/admin/common/js/jquery.validate.js"></script>
<script type="text/javascript" src="${ctxPath}/resources/admin/common/js/utils.js"></script>
<script type="text/javascript" src="${ctxPath}/resources/admin/common/js/additional-methods.js"></script>
<script type="text/javascript" src="${ctxPath}/resources/admin/common/js/Grid.js"></script>
<script type="text/javascript" src="${ctxPath}/resources/admin/common/js/ToolBar.js"></script>
<script src="${ctxPath}/resources/common/zTree/js/jquery.ztree.all-3.1.js" type="text/javascript"></script>
<script type="text/javascript" src="${ctxPath}/resources/common/My97DatePicker/WdatePicker.js"></script>

<!--[if lte IE 6]>
<script type="text/javascript" src="${ctxPath}/resources/admin/common/js/iepng.js"></script>
<script type="text/javascript">
    EvPNG.fix('div, ul, img, li, input ,dl, span, a');
</script>
<![endif]-->