<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>无权限访问</title>
</head>
<body>
<div style="width: 564px; height: 157px; margin: auto; margin-top: 186px;">
    <div style="width: 155px; height: 157px; float: left; overflow: hidden;">
        <img src="${ctxPath}/resources/common/images/noright.png" width="155"
             height="156">
    </div>
    <div style="width: 409px; height: 157px; float: right; overflow: hidden; line-height: 30px;">
        <h1 style="font-weight: 100; font-size: 22px; color: #0f84cf;">很抱歉，您无权浏览该页面</h1>
        <p>您正在访问的页面可能需要更高的权限，请联系管理员。</p>
    </div>
</div>
</body>
</html>